<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_ITaskUpdatedService">
          <security mode="None">
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IModifyTaskService">
          <security mode="None">
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IModifyTaskService1">
          <security mode="None">
            <transport sslProtocols="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8080/ModifyTaskService"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IModifyTaskService"
        contract="ModifyTaskServiceReference.IModifyTaskService" name="NetTcpModifyTaskService" />
      <endpoint address="net.tcp://localhost:8080/ModifyTaskService"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IModifyTaskService1"
        contract="TaskUpdatedServiceReference.IModifyTaskService" name="NetTcpBinding_IModifyTaskService" />
      <endpoint address="net.tcp://localhost:8080/TaskUpdatedService"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ITaskUpdatedService"
        contract="TaskUpdatedServiceReference.ITaskUpdatedService" name="NetTcpTaskUpdatedService" />
    </client>
  </system.serviceModel>
</configuration>